<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/intro.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Curso Pré-Enem Ciranda Popular</span>
          <span class="section-heading-lower">O QUE SOMOS?</span>
        </h2>
        <p class="mb-3", align="justify">Um curso pré-vestibular realizado pela Frente Brasil Popular em parceria com a Universidade Federal Rural de Pernambuco (UFRPE) e a Rede de Cursinhos Populares Podemos Mais, do movimento Levante Popular da Juventude. O projeto tem como objetivo formar turmas de jovens interessados em entrar na universidade e participar de aulas gratuitas aplicadas por professores voluntários. </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="<%= new_aluno_path %>">Quero fazer parte!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Algumas Informações e</span>
            <span class="section-heading-lower">Materiais</span>
          </h2>
          <div class="row">
            <div class="col-sm-6">
              <p align="center">
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Apostilas', visualizar_apostilas_path, style:"color:white" %>
                </button>
              </p>
            </div>
            <div class="col-sm-6">
              <p align="center">
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Horários de Aula', root_path, style:"color:white" %>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>