<h1>Pagina Inicial</h1>

<p>
<%= link_to 'Inscrição de Aluno', new_aluno_path, id:"inscricao_aluno" %>
</p>

<p>
<%= link_to 'Inscrição de Professor', new_professor_path, id:"inscricao_professor" %>
</p>