<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h6 class="alert alert-success" role="sucess">Parabéns, a sua inscrição foi realizada com sucesso! Entraremos em contato assim que ela for aprovada.</h6>
          <a class="btn btn-primary btn-xl" href="<%= root_path %>">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>