<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Menu de Opções - Professor</span>
          </h2>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <p align="center">
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Adicionar Apostila', add_apostila_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Minhas Turmas', minhas_turmas_path, style:"color:white" %>
                </button>
              </p>
            </div>
            <div class="col-sm-6">
              <p align="center">
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Minhas Informações', professors_path + '/' + usuario_atual.id.to_s, style:"color:white", id:"minhas_informacoes" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <td>
                    <%= link_to 'Aterar Meus Dados / Senha', edit_professor_path(usuario_atual), style:"color:white" %>
                  </td>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>