<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h6 class="alert alert-danger" role="alert">Desculpe, você não tem permissão para fazer login até que sua inscrição seja aprovada.</h6>
          <a class="btn btn-primary btn-xl" href="<%= root_path %>">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>