<div  style="background-color: #ffffff; margin: 2rem;">
<h2 style="margin: 2rem; padding-top:1rem; margin-bottom: -1rem;">Professores</h1>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nome Completo</th>
    <th>Email</th>
    <th>Telefone</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @professores.each do |professor| %>
    <tr>
      <td>
        <%= professor.nome %>
      </td>
      <td>
        <%= professor.email %>
      </td>
      <td>
        <%= professor.telefone %>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
</div>