<div  style="background-color: #ffffff; margin: 2rem;">
  <h2 style="margin: 2rem; padding-top:1rem; margin-bottom: -1rem;">Administradores com acesso ao sistema</h2>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nome Completo</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Cidade onde Administra o Curso</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @administradores.each do |administrador| %>
    <tr>
      <td>
        <%= administrador.nome %>
      </td>
      <td>
        <%= administrador.email %>
      </td>
      <td>
        <%= administrador.telefone %>
      </td>
      <td>
        <%= administrador.cidade_voluntario %>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
<br>
</div>