<section class="page-section clearfix">
<div class="container intro-text left-0 text-center bg-faded p-5 rounded">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Apostilas Anexados</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <% @arquivos.each do |arquivo| %>
        <tr>
          <td><%= arquivo.id %></td>
          <td><%= arquivo.created_at %></td>
          <td><%= button_to 'Baixar', { action: :download_arquivo, diretorio: arquivo.diretorio_arquivo }, class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</section>