<h1>Usuários com acesso ao sistema</h1>
<br>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @usuarios.each do |usuario| %>
    <tr>
      <td><%= usuario.nome %></td>
      <td><%= usuario.email %></td>
      <td><%= link_to "Exibir", usuario %></td>
    </tr>
  <%end%>
  </tbody>
</table>