<footer class="footer text-faded text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Realização</h5>
        <p>
          <img src="/assets/ufrpe.png" width="100rem">
          <img src="/assets/frentebrasilpopular.png" height="50rem" style="margin-left: 1rem;">
          <img src="/assets/levantejuventude.png" width="70rem">
          <img src="/assets/podemosmais.png" width="130rem">
          <img src="/assets/uag.png" style="margin-left: 1rem;" height="80rem">
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <!--coluna do meio-->
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Redes Sociais</h5>
        <ul class="list-unstyled">
          <li>
            <br>
            <a href="https://www.instagram.com/cirandapopular/" target="_blank"><img src='/assets/instagram.png' height="45rem" width="45rem" /></a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <p class="m-0 small">© 2019 Copyright: Antônio Pedro e Maria Eduarda</p>
  </div>
</footer>